.footer {
    background-color: rgb(31, 8, 132);
    color: rgb(254, 245, 245);
    
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 30px;
    width: 100%;

  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    text-align: left;
    font-family:'Courier New', Courier, monospace; /* Specify the font family */
    font-size: 18px; /* Specify the font size */
    font-weight: bold; /* Specify the font weight (e.g., normal, bold, etc.) */
    font-style: italic; /* Specify the font style (e.g., normal, italic) */
    line-height: 1.5; 
    flex: 1;
    padding: 10px 20px;
    text-align: center;
  }
  
  h3 {
    font-size: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: rgb(251, 99, 167);
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
  }